.search-box{
    display: flex;
    flex-direction: row;
}

.search-box input{
    width: 100%;
    padding: 0.4em;
    
    
  
}


#btn-search {
 padding: 1em;
 color: white;
 background-color: green;
 margin-left: 0.4em;
 border-radius: 0.5em;
 font-size: 1em;
 
    
}