
.footer-wrapper{
  display: flex;
  flex-direction:column ;
  background-color: #143D59;
  position: relative;
  margin-top: 1rem;
  bottom: 0;
  left: 0;
  width: 100%;
  
}

.footer-container  {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;

}

.footer-contact-links > img {
  height : 5rem;
}


.footer-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  text-decoration: none;
  color:white;
  font-size: larger;
  font-weight: 400;
  
 
}



.item-footer{
  color: white;
  font-family: sans-serif;
  font-size: medium;
  font-style: bold;
  font-weight: 800;
 
}


/* .footer{
    width: 100%;
    background-color: #3333cc;
    color: aliceblue;
    position: fixed;
    bottom: -3.5%;
  }
  
  .footerCopy{
    width: 70%;
  }
  
  .foterLinks{
    width: 30%;
    font-size: 18px;
    font-weight: bolder;
    margin-left: 10px;
    top: 20px;
  }
   */