.result-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.result-sidebar {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}

.res-product-summary{
    background-color: #317bdd;
    height: 400px;
    width: 550px;
    margin-left: 20px;
    border-radius: 25px;
    margin-top: 1%;
    margin-bottom: 3%;
    text-align: center;
}

.res-product-summary-title {
    text-align: center;
    color: white;
}

.res-product-img {
    width: auto;
    height: 200px;
    background-color: skyblue;
    padding: 3px;
    border-radius: 10px;
}

.summary{
    background-color: #317bdd;
    height: 400px;
    width: 500px;
    margin-left: 20px;
    border-radius: 25px;
    margin-top: 1%;
    padding: 25px;
}
.summary-title{
    text-align: center;
    color: white;
}

.summary-chart-box {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: skyblue;
    border-radius: 10px;
}