.summary{
    background-color: #317bdd;
    height: 870px;
    width: 550px;
    margin-left: 20px;
    border-radius: 25px;
    margin-top: 1%;
    position: absolute;
}
.summary-title{
    margin-left: 33%;
}
.container{
    display: 'flex';
    flex-direction: 'row';
}