/*---------body-----------*/

body{margin:0;}

/*--------Header1----------*/

#header1{background-color:#ffba1f; color:black; padding:0.5em; font-weight:bold;}
#header1 a{padding:0.5em 0.5em;}
a{ font-size:17px; color:black;}
a:link{text-decoration:none;}
a:hover{text-decoration:underline; text-decoration-color:#80ff00;}
#last{float:right; font-size:18px;}

.image01{width:50%px; height:50%;}

.btn1
	{
	  background-color:#0d8bdd;
	  border: none;
	  color: white;
	  padding: 0.5em 1.5625em;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	}

.btn2
	{
	  background-color:#ffba1f;
	   border: 2px solid #555555;
	  color: black;
	  padding: 0.375em 1.25em;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	}

/*---------Header2----------*/

		#header2{background-color:#ffba1f; height:395px;}
		#hpart1{float:left; width:60%; margin-top:5%; height:350px;}
		#hpart2{float:left; width:40%; margin-top:3%; height:350px;}

		#area1{
			font-family: Arial, Helvetica, sans-serif;
			color:white;
			font-size:50px;
			word-spacing:10px;
			margin-left:10%;
			line-height:0.9;
		}

		#area2{
			font-family: Arial, Helvetica, sans-serif;
			color:black;
			font-weight:bold;
			font-size:18px;
			margin-left:10%;
		}

		.text01{font-family: 'Brush Script MT', cursive;}

		.box1[type=text]{
			width: 60%;
			padding: 1em 1.25em;
		    border:none;
			display: inline-block;
			float:left;
			margin-left:10%;
			border-radius:0.125em;

			}

		.btn3{
		  	background-color:#1dc16a;
		  	border: none;
		  	color: white;
		  	padding: 0.75em 1.875em;
		  	text-align: center;
		  	text-decoration: none;
		  	display: inline-block;
		  	font-size: 16px;
		  	border-radius:0.125em;
			}

		.image02{ width:100%; height:100%;}

/*--------------woo commerce site icon--------------*/ 

		#midtop_0{height: 270px; width:100%;}
		#midtop_1,#midtop_3{width:20%; float:left; height:200px;}
		#midtop_2{width:60%; float:left; height:220px;}

		#middle1{height:50px;}
		#middle2{text-align:center; height:150px;}
		#middle3{height:20px; margin-top: 2%;}

		hr.one{border: 2px solid #cacaca; background-color:#cacaca;}
		hr.two{border: 2px solid #cacaca; background-color:#cacaca; width:100%;}

		#hrmidtop_1{width:30%; float:left; margin-top:0.5em;}
		#hrmidtop_2{width:40%; float:left; text-align: center; font-family: "Lucida Console", "Courier New", monospace; font-size: 40px; font-weight:bold; }
		#hrmidtop_3{width:30%; float:left; margin-top:0.5em;}

		#imgmidtop_1,#imgmidtop_2,#imgmidtop_3,#imgmidtop_4,#imgmidtop_5{width:20%; float:left; height:100%}

/*---------------Section 1---------------*/ 

		#section1{height: 420px; width:100%}

		#sec_11,#sec_14{width:10%; float:left; height: 420px;}
		#sec_12{width:30%; float:left; height:420px;}
		#sec_13{width:50%; float:left; height: 420px;}

		#sec_121{height: 100px; }
		#sec_122{font-family: Arial, Helvetica, sans-serif; float:left;}

		.sec_1221,.sec_1222,.sec_1223{width:20%;height: 100px; float: left;}
		.sec_1221t,.sec_1222t,.sec_1223t{font-weight: bold; font-size:70px; text-align:center;margin-left: 15%; color:#b2b2b2;}
		.sec_1221d,.sec_1222d,.sec_1223d{width:80%;height: 100px;}
		.sec_1221o,.sec_1222o,.sec_1223o{font-weight: bold;}
  
   		.rnbox1{
   			margin-left:10%; 
   			margin-top:15%; 
   			border-radius: 25px; 
   			border: 2px solid #cacaca; 
   			padding: 1.25em; 
   			width: 60%;
   			height:270px;
   			}

   		#sec_head1{
			text-align: center; 
			font-family: "Lucida Console", "Courier New", monospace; 
			font-size: 30px; 
			font-weight:bold;
			word-spacing:-5px
			}

/*----------------Section 2----------------*/ 

		#section2{height: 420px; width:100%;}
		#sec_21,#sec_24{width:10%; float:left; height: 420px;}
		#sec_22{width:30%; float:left; height:420px; text-align: center;}
		#sec_23{width:50%; float:left; height: 420px; }

		#sec_231{height: 60px; float:left; width:100%; font-family: Arial, Helvetica, sans-serif; margin-left:15%}
		#sec_232{height: 360px; width:100%; column-count:2;font-family: Arial, Helvetica, sans-serif; font-size:20px;margin-left: 15%}

		.image03{width:100%; height:100%;} 

		.sec_2311{font-weight: bold; font-size:40px; text-align:center;margin-left: 5%; color:#bca0d2;}

		ul.one{list-style-type:circle; line-height: 1.5;}

/*-----------------Section 3-----------------*/ 

		#section3{height: 420px; width:100%;}
		#sec_31,#sec_34{width:10%; float:left; height: 420px;}
		#sec_32{width:50%; float:left; height:420px;}
		#sec_33{width:30%; float:left; height: 420px; text-align: center;}

		#sec_321{height: 60px; float:left; width:100%; font-family: Arial, Helvetica, sans-serif; margin-left: 15%}
		#sec_322{height: 360px; width:100%; column-count:2;font-family: Arial, Helvetica, sans-serif; font-size:20px;margin-left: 15%}

		.sec_3211{font-weight: bold; font-size:40px; text-align:center;margin-left: 5%; color:#bca0d2;}

		ul.two{list-style-type:circle; line-height: 1.5;}

/*-----------------Section 4------------------*/ 

		#section4{height: 420px; width:100%;}
		#sec_41,#sec_44{width:10%; float:left; height: 420px;}
		#sec_42{width:30%; float:left; height:420px; text-align: center;}
		#sec_43{width:50%; float:left; height:420px;}

		#sec_431{height: 60px; float:left; width:100%; font-family: Arial, Helvetica, sans-serif; margin-left: 15%}
		#sec_432{height: 360px; width:100%; column-count:2;font-family: Arial, Helvetica, sans-serif; font-size:20px;margin-left: 15%}

		.image04{widht:100%; height:100%;} 

		ul.three{list-style-type:circle; line-height: 1.5;}

/*------------------Section 5-----------------*/ 

		#section5{height: 420px; width:100%;}
		#sec_51,#sec_53{width:15%; float:left; height: 400px;}
		#sec_52{width:70%; float:left; height:400px;}

		.sec_521{font-size:30px; font-family: Arial, Helvetica, sans-serif; margin-left: 20%;}
		.sec_522{font-size:20px; font-family: Arial, Helvetica, sans-serif;}
		.sec_523{font-size:20px; font-family: Arial, Helvetica, sans-serif;}

		.rnbox2{
   			margin-left: 15%;
   			margin-top: 4%;
   			border-radius: 25px; 
   			border: 2px solid #cacaca; 
   			padding: 1.25em; 
   			width: 70%;
   			height:270px;
   			}
		
		.btn4
		{
		  background-color:white;
		  border: 2px solid #555555;
		  color: black;
		  padding: 0.625em 4.375em;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  font-size: 16px;
		  margin-left:35%;
		  border-radius:20px; 
		}

/*------Section 6----------*/ 

		#section6{height: 120px; width:100%;}
		#sec_61,#sec_63{width:20%; float:left; height: 100px;}
		#sec_62{width:60%; float:left; height:100px; text-align:center;}



/*----Footer CSS----*/
.image05{width:100%; height:100%; margin-left: -15%}

#foot_11,#foot_22
	{
	width:15%;	
	}
#foot_1
	{
	width:25%;	
	}

#foot_2,#foot_3,#foot_4
	{
	width:15%;
	}

#foot_1,#foot_2,#foot_3,#foot_4,#foot_11,#foot_22
	{
	background-color:#e4dcda; 
	float:left; 
	padding-bottom:10px; 
	padding-top:30px;
	height:230px;
	}

.f_1{
	list-style-type:none;
	color:black;
	line-height:1.4;
	}

.f_2, .f_3, .f_4{
	list-style-type:none;
	color:black;
	line-height:1.8;
	}

.f_1 a{
	text-decoration:none;
	font-size:18px;
	color:black;
	line-height:1;
	}

.f_2 a,.f_3 a,.f_4 a{
	text-decoration:none;
	font-size:18px;
	color:black;
	line-height:2;
	}

/*--------------------------------------------------*/

	@media screen and (max-width:720px){
	#last .btn1,.btn2{
		width: 100%;
		margin-top: 5px;
		padding: 0.5em;
		margin-right: 0.5em;
		float: left;
	}
	#header1 a{
		width: 100%;
	}
	#header1{
		height: 70px
	}
	.top-form{
		width: 100%;
		margin: 0.5em;
	}
	 .top-form .btn3{
		width: 50%;	
		margin-left: 10%;
	}
}

	@media screen and (max-width:874px){
	.top-form .btn3{
		width: 50%;	
		margin-left: 10%;
	}

	@media screen and (max-width:720px){
			.image01{
				height: 260px;
			}