*{margin: 0px;padding: 0px;}
* {
  box-sizing: border-box;
}
h3{
    font-family: sans-serif;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}


@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .footer{background-color:#e4dcda; text-align:left; padding-left:10% }
  .f_1{line-height: 1.1}
  .img_foot{width:200px; height:auto; margin-left:-10% }

}

p, a{
    font-family: sans-serif;
    text-decoration: none;
}

.header-links ul{
    list-style-type: none;
}

.header-links ul li{
    display: inline-block;
}

.header{
    background-color: #ffba1f;
    margin-bottom: 40px;
}

nav{
  height: 80px;
  background: #ffba1a;
}
nav img{
  width: 200px;
  position: absolute;
  top:6%;
  left: 2%;
}
nav ul.nav1{
  float: right;
  margin-right: 25px;
}
nav ul li.nav2{
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}
nav ul li a.active1{
  position:relative;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding:5px 0;
  text-decoration: none;
}
nav ul li a.active1:before{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: white;
  transform:scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
}
nav ul li a.active1:hover:before{
  transform:scaleX(1);
  transform-origin: left;
}
label #btn,label #cancel{
  color: white;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 1118px){
  nav img.nav0{
    left: 2%;
  }
}
@media (max-width: 944px){
  nav img.nav0{
    left: 6%;
    top: 5%;
    width: 130px;
  }
  nav ul li a.active1{
    font-size: 17px;
  }
}
@media (max-width: 860px){
  label #btn{
    display: block;
  }
  ul.nav1{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #ffba1a;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li.nav2{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a.active1{
    font-size: 26px;
  }
  #check:checked ~ ul{
    left: 0;
  }
  #check:checked ~ label #btn {
    display: none;
  }
  #check:checked ~ label #cancel {
    display: block;
  }
}



.header2{
    padding: 10px 10px 0px 10px;
}

.search input[type=text] {
    margin-left:12%;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 60%;
    background: #f1f1f1;
}

.search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #1dc16a;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

.search button:hover {
    background: #0b7dda;
}
  
  /* Clear floats */
.search::after {
    content: "";
    clear: both;
    display: table;
}

hr{
    border: 2px solid #cacaca; background-color:#cacaca;
}

.img-set{
    padding-left: 15%;
    padding-right:15%;
    padding-top: 0;
    text-align:center;
    height:150px;
}

.img{
    margin-right: 2%;
}

.hrmidtop_2{
    text-align: center;font-family: 'Lucida Console', 'Courier New', monospace;
    font-size: 40px;
    font-weight:bold;
}

.section2-set{
    width:20%;
    height: 150px; 
}

.numbers{
    font-weight: bold;
    font-size:70px;
    text-align:center;
    margin-left: 35px;
    color:#b2b2b2;
}

@media only screen and (max-width: 768px){
  .numbers{
    font-size:60px;
    margin-left: 5%;
    }
    .newlist{
    font-size: 25px;
    margin-left: 20px;
}
}

.section3 p{
    text-align: center; 
    font-family: "Lucida Console", "Courier New", monospace; 
    font-size: 30px; 
    font-weight:bold;
    word-spacing:-5px
}

.section2, .section4, .section5, .section6, .section7{
    margin: 3% 15% 0% 15%;
}

.newlist{
    list-style-type: circle;
    font-size: 25px;
    margin-left: 30%;
    padding-bottom: -65%;
}

.section4 h1{
    font-weight: bold;
    font-size:40px;
    text-align:left;
    color:#bca0d2;
}

.section5 h1{
    font-weight: bold;
    font-size:40px;
    text-align:left;
    color:#bca0d2;
}

.section6{
    margin: 3% 24% 0% 24%;
    overflow: auto;
    border: 1px solid;
    border-radius: 20px;
    padding: 4% 2% 0 2%
}


.section6 .btn{
    background-color:white;
    border: 2px solid #555555;
    color: black;
    padding: 10px 8%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:20px; 
    margin-bottom: 20px;
}



.section6 .btn span{
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif; 
}

.section6-p1{
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif; 
}

.section7 p{
    text-align: center; 
    font-family: "Lucida Console", "Courier New", monospace; 
    font-size: 30px; 
    font-weight:bold;
    word-spacing:-5px;
    margin-bottom: 10px;
}

.footer{background-color:#e4dcda; text-align: center; margin-top: 50px;}
.f_1{list-style-type: none; margin: 0; padding: 0; line-height: 1.0}
.f_2, .f_3, .f_4{list-style-type: none; margin: 0; padding: 0; line-height: 1.8}
.footer li {padding: 5px; color:black;}
.footer a{font-size:18px; color:black; text-decoration:none;}
.footer a:hover{color:white;}


